<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sunrise Wellness Hospital</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Include Owl Carousel CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <!-- Include Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- Include Owl Carousel JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</head>
<style>
    .row {
        width: 100%;
    }
</style>

<body>
    <div class="head-nav">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src=".././img/logo.png.webp" class="img-fluid" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Doctors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Department</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                    </ul>
                    <button class="btn btn-primary ml-3">Contact Us</button>
                </div>
            </div>
        </nav>
    </div>

    <div class="contact-section">
        <div class="contact-fltr">
            <div class="container">
                <div class="row">
                    <div class="contact-head ">
                        <h1>About Us</h1>
                        <div class="contact-right">
                            <i class="fa fa-house"></i> <span class="sasasadj">|</span> <span>About Us</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about">
        <div class="container">


            <div class="about_top pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="about_top_img">
                            <img src="../img/chief_doctor.jpg" alt="chief_doctor img" width="450px" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="text_block">
                            <div class="doc-sds"> <span style="color: #33d687; font-weight: 700; font-size: larger;">WELCOME TO MEDSERVICE</span></div>
                            <h3>Clinic with Innovative Approach to Treatment</h3>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia optio rem illo
                                earum, magni assumenda sit! Cumque ab quasi necessitatibus iure accusamus corrupti nemo
                                expedita inventore minus voluptas suscipit pariatur, earum, blanditiis aliquid neque
                                asperiores omnis! Facilis, dolores provident.</p>


                            <div class="singnature">
                                <p>Randon Pexon, Head of Clinic</p>
                                <img src="../img/signature.png" alt="singnature" width="240px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about_2">
        <div class="container">


            <div class="about_top pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6 col-12">

                        <div class="text_block">
                            <div class="doc-sds"> <span style="color: #33d687; font-weight: 700; font-size: larger;">HIGHEST QUALITY CARE</span></div>
                            <h3>Complete Medical Solutions in One Place</h3>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia optio rem illo
                                earum, magni assumenda sit! Cumque ab quasi necessitatibus iure accusamus corrupti nemo
                                expedita inventore minus voluptas suscipit pariatur, earum, blanditiis aliquid neque
                                asperiores omnis! Facilis, dolores provident.</p>


                            <div class="skdshdsdsnd">
                                <div id="animation-contasiner">
                                    <ul class="animsatesd-list">
                                        <li><i class="fa fa-circle-right"></i>Emergency Care</li>
                                        <li><i class="fa fa-circle-right"></i>Specialized Treatments</li>
                                        <li><i class="fa fa-circle-right"></i>Diagnostic Services</li>
                                        <li><i class="fa fa-circle-right"></i>Surgical Procedures</li>
                                        <li><i class="fa fa-circle-right"></i>Rehabilitation Services</li>
                                        <li><i class="fa fa-circle-right"></i>Pharmacy</li>
                                        <li><i class="fa fa-circle-right"></i>State-of-the-Art Facilities</li>
                                        <li><i class="fa fa-circle-right"></i>Apartments frequently or motionless.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-12">
                        <div class="about_top_img dfvdq">
                            <img src="../img/emergency_help_.jpg" alt="chief_doctor img" width="450px"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="statistic">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="item-statistic">
                        <i class="fa-solid fa-heart-pulse"></i>
                        <h4>5,744</h4>
                        <p>Happy Patients</p>
                    </div>

                </div>
                    <div class="col-md-3 col-6">
                        <div class="item-statistic">
                            <i class="fa-solid fa-user-doctor"></i>
                            <h4>584</h4>
                            <p>Qualified Doctors</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="item-statistic">
                            <i class="fa-solid fa-bed-pulse"></i>
                            <h4>120</h4>
                            <p>Clinic Rooms</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="item-statistic">
                            <i class="fa-solid fa-location-crosshairs"></i>
                            <h4>4,204</h4>
                            <p>Local Partners</p>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>

    <div class="about-4">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-12">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="innner-about-4 d-flex align-items-center">
                                <i class="fa-solid fa-user-doctor"></i>
                                <div class="about-4-text">
                                    <h5>Top Level Doctors</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore incidunt nam
                                        quidem voluptas eos!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="innner-about-4 d-flex align-items-center">
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                                <div class="about-4-text">
                                    <h5>Modern Equipment</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore incidunt nam
                                        quidem voluptas eos!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="innner-about-4 d-flex align-items-center">
                                <i class="fa-solid fa-user-nurse"></i>
                                <div class="about-4-text">
                                    <h5>Qualified Facilities</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore incidunt nam
                                        quidem voluptas eos!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="innner-about-4 d-flex align-items-center">
                                <i class="fa-solid fa-stethoscope"></i>
                                <div class="about-4-text">
                                    <h5>Professional Services</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore incidunt nam
                                        quidem voluptas eos!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="innner-about-4 d-flex align-items-center">
                                <i class="fa-solid fa-notes-medical"></i>
                                <div class="about-4-text">
                                    <h5>Medical Counseling</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore incidunt nam
                                        quidem voluptas eos!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="innner-about-4 d-flex align-items-center">
                                <i class="fa-solid fa-truck-medical"></i>
                                <div class="about-4-text">
                                    <h5>Emergency Help</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore incidunt nam
                                        quidem voluptas eos!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5"
                    style="background-color: #0c61eb; color: white; padding: 50px; border-radius: 5px;">
                    <div class="about-time">
                        <h5>Opening Hours:</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis natus explicabo earum tempore?
                        </p>
                        <table>
                            <tr>
                                <td>Mon – Wed</td>
                                <td>9:00 AM - 7:00 PM</td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>9:00 AM - 7:00 PM</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>9:00 AM - 7:00 PM</td>
                            </tr>
                            <tr>
                                <td>Sun - Sun</td>
                                <td>CLOSED</td>
                            </tr>
                          
                        </table>
                        <p class="prnslhe">Need a personal health plan?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section">
        <footer class="container-fluid bg-dark text-light py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sas">
                            <a class="navbar-brand" href="#">
                                <img src=".././img/logo.png.webp" class="img-fluid" alt="Logo" />
                            </a>
                        </div>
                        <p class="mt-4 mb-4">Firmament morning sixth subdue darkness creeping gathered divide.</p>
                        <ul class="social-link">
                            <li>
                                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6">
                        <h5>Departments</h5>
                        <ul class="ftr-js">
                            <li><a href="#">Eye Care</a></li>
                            <li><a href="#">Skin Care</a></li>
                            <li><a href="#">Pathology</a></li>
                            <li><a href="#">Dental</a></li>
                            <li><a href="#">Medicine</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6 brdras">
                        <h5>Useful Links</h5>
                        <ul class="ftr-js">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Appointment</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h5 class="kdddjjd">Address</h5>
                        <div class="mappp">
                            <address>
                                200, D-block, Green lane +91 8378477289 sonukumawat6282@gmail.com
                            </address>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43114229.764751576!2d-33.55224609375001!3d48.73445537176822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696348be05ba74b%3A0xb4dd920d69b40ad!2sNational%20Medical%20Research%20Center.%20VA%20Almazov!5e0!3m2!1sen!2sin!4v1704275666181!5m2!1sen!2sin"
                                width="265" height="225" style="border: 0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="copy-right_text pt-3">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">Copyright ©2024 All rights reserved | This template Design <i
                                class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Sonu
                                Kumawat</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

    <!-- Owl Carousel JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var animationContainer = $("#animation-container");
            var animatedListItems = $(".animated-list li");
            var windowHeight = $(window).height();

            $(window).scroll(function () {
                var scrollPos = $(window).scrollTop();

                if (scrollPos > animationContainer.offset().top - windowHeight + 50) {
                    animationContainer.addClass("animate");
                    animatedListItems.each(function (index) {
                        var listItem = $(this);
                        setTimeout(function () {
                            listItem.addClass("animate");
                        }, index * 200);
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items: 3, // Set the number of items to show
                margin: 10, // Set margin between items
                responsive: {
                    0: {
                        items: 1,
                    },
                    600: {
                        items: 3,
                    },
                    1000: {
                        items: 5,
                    },
                },
                nav: false, // Hide default navigation buttons
            });

            // Custom navigation buttons
            $(".owl-prev").click(function () {
                $(".owl-carousel").trigger("prev.owl.carousel");
            });

            $(".owl-next").click(function () {
                $(".owl-carousel").trigger("next.owl.carousel");
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                $('.oijhs').each(function () {
                    var position = $(this).offset().top;
                    var scrollPosition = $(window).scrollTop();

                    if (position < scrollPosition + $(window).height()) {
                        $(this).addClass('animate');
                    }
                });
            });
        });
    </script>

</body>

</html>